<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>adm</key>
		<string>ca-app-pub-9950422312776897/2514914961</string>
		<key>start_id</key>
		<string>203653126</string>
		<key>start_user</key>
		<string>103253113</string>
		<key>isgg</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
