<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>admob</key>
		<string>ca-app-pub-9950422312776897/2514914961</string>
		<key>startapp_id</key>
		<string>203438677</string>
		<key>startapp_user</key>
		<string>103880633</string>
		<key>isgoogle</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
