<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showFull</key>
		<true/>
		<key>showBanner</key>
		<true/>
		<key>showVideo</key>
		<true/>
		<key>showCustom</key>
		<false/>
		<key>showATT</key>
		<true/>
		<key>showCB</key>
		<true/>
		<key>showIRon</key>
		<true/>
	</dict>
</array>
</plist>
